.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.movie-wrapper {
  width: 500px;
  background-color: antiquewhite;
  color: #252525;
}

.movie-search {
  height: 32px;
  width: 475px;
  font-size: 24px;
  margin-bottom: 32px;
  padding: 16px;
  font-weight: bold;
}

.movie-title {
  height: 45px;
  margin-top: 10px;
  font-weight: bold;
}

.movie-date {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
}

.movie-rate {
  color: red;
  margin-bottom: 10px;
  font-weight: bold;
}
